name: Cleanup

on:
  schedule:
    - cron: "0 3 1 * *"
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  cleanup-caches:
    name: Cleanup sqlx-cli cache
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cleanup sqlx-cli cache
        run: |
          gh extension install actions/gh-actions-cache
          
          REPO=${{ github.repository }}
          BRANCH=master

          echo "Fetching list of cache keys"
          cacheKeysForPR=$(gh actions-cache list -R $REPO --key Linux-sqlx-cli-sqlite | cut -f 1)

          set +e
          for cacheKey in $cacheKeysForPR
          do
              gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
